#question {
  width: 550px;
  max-width: 550px;
  text-align: center;
  background-color: #7e26e2;
  padding: 2rem;
  border-radius: 1rem;
}

#question h2 {
  margin-bottom: 2rem;
}

#question p {
  margin-bottom: 1rem;
}

#question button {
  border: 1px solid #ddd;
}
